.resource_area {
    height: 50vh;
}
.preview_area {
    height: 50vh;
}
.makers_area {
    width: 100%;
    height: 50vh;
    background-color: #fafafa;
}
.tracks_area {
    overflow-x: scroll;
    position: absolute;
}